html{box-sizing:border-box;font-size:62.5%}*,::after,::before{box-sizing:inherit}
body{margin:0;padding:0;font-size:1.6rem;font-family: sans-serif;color: #333;}ol,ul{list-style:none}
a{text-decoration:none;color:inherit}button{background: none;border: none;cursor: pointer;}section{padding: 1rem;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0}





/*.quiz-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}*/
.quiz-container{
    height: 100vh;
}

.quiz-question-block {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.question_header {
    height: 100%;
    background: #E2F8FE;
    color: #74B3CD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 50px;
    gap: 10px;
    border-radius: 15px;
}
.question_header h2 {
    color: #0B7FAA;
}
.quiz-choices {
    padding: 0px 50px;
    width: 100%;
}
.quiz-choices button {
    width: 100%;
    border: 1px solid #0B7FAA;
    text-align: start;
    padding: 15px 10px;
    margin-bottom: 25px;
    border-radius: 5px;
    color: #0B7FAA;
    transition: background .2s ease-in-out, color .2s ease-in-out;
}
.quiz-choices button:hover {
    background: #0B7FAA;
    color: #fff;
}
.quiz-choices img {
    width: 100%;
    max-height: 100px;
    object-fit: contain;
    margin-bottom: 50px;
}

.quiz-start {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quiz-start {
    color: #0B7FAA;
}
.quiz-start button {
    position: relative;
    overflow: hidden;
    margin-top: 25px;
    color: #0B7FAA;
    padding: 15px 25px;
    border-radius: 5px;
}

.quiz-start button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #E2F8FE;
    z-index: -1;
}
.quiz-start button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: #a6f2ff;
    rotate: 45deg;
    transform-origin: center;
    z-index: -1;
    transition: left .6s ease-in-out;
}
.quiz-start button:hover::after {
    left: 100%;
}

.quiz-results {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*
#score{
    --score: attr(data-score);
    color: if(
    style(--score: "1"): #f80000;
    style(--score: "2"): #ff1111;
    style(--score: "3"): #ff2f2f;
    style(--score: "4"): #ff4b4b;
    style(--score: "5"): #ff904b;
    style(--score: "6"): #008316;
    style(--score: "7"): #00af1d;
    style(--score: "8"): #01cf24;
    style(--score: "9"): #01e327;
    style(--score: "10"): #03ff2d;
    else: #333;
    );
}*/

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.9;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.quiz-result-item {
    --correct: attr(data-is-correct);
    border-color: if(
    style(--correct: "correct"): green;
    else: crimson;
    );
    border-style: solid;
    border-width: 2px;
    padding: 25px;
    border-radius: 5px;
    margin-bottom: 25px;

}
.quiz-result-item:not(:last-child){
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: entry 25% cover 50%;
}

.quiz-restart-button {
    margin-bottom: 200px;
    padding: 15px 25px;
    color: #0B7FAA;
    background: #E2F8FE;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.quiz-restart-button:hover {
    background: #0B7FAA;
    color: #fff;
}

.success_anim {
    z-index: 99999;
    position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  color: #0B7FAA;
  animation: animSucess 3s forwards ease-in-out; 
}

@keyframes animSucess {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden; 
    display: none;
  }
}
