html{box-sizing:border-box;font-size:62.5%}*,::after,::before{box-sizing:inherit}
body{margin:0;padding:0;font-size:1.6rem;font-family: sans-serif;color: #333;}ol,ul{list-style:none}
a{text-decoration:none;color:inherit}button{background: none;border: none;cursor: pointer;}section{padding: 1rem;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0}


/*
#score{
    --score: attr(data-score);
    color: if(
    style(--score: "1"): #f80000;
    style(--score: "2"): #ff1111;
    style(--score: "3"): #ff2f2f;
    style(--score: "4"): #ff4b4b;
    style(--score: "5"): #ff904b;
    style(--score: "6"): #008316;
    style(--score: "7"): #00af1d;
    style(--score: "8"): #01cf24;
    style(--score: "9"): #01e327;
    style(--score: "10"): #03ff2d;
    else: #333;
    );
}*/


/*.quiz-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}*/
.quiz-container{
    height: 100vh;
}

.quiz-question-block {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.question_header {
    height: 100%;
    background: #E2F8FE;
    color: #74B3CD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 50px;
    gap: 10px;
    border-radius: 15px;
}
.question_header h2 {
    color: #0B7FAA;
}
.quiz-choices {
    padding: 0px 50px;
    width: 100%;
}
.quiz-choices button {
    width: 100%;
    border: 1px solid #0B7FAA;
    text-align: start;
    padding: 15px 10px;
    margin-bottom: 25px;
    border-radius: 5px;
    color: #0B7FAA;
    transition: background .2s ease-in-out, color .2s ease-in-out;
}
.quiz-choices button:hover {
    background: #0B7FAA;
    color: #fff;
}
.quiz-choices img {
    width: 100%;
    max-height: 100px;
    object-fit: contain;
    margin-bottom: 50px;
}

.quiz-question-block, .question_header {
    transition: all 5s ease-in-out;
}